<h1><%= @name ? "Bem Vindo de volta, #{@name}!" : "#{t(:welcome)}!" %></h1>
<p>
  <%# <strong>Data: </strong> <%= br_date(Date.today) %>
  <strong>Data: </strong> <%= l(Date.today) %>
</p>

<%= render "menu" %>